*, *::before, *::after { box-sizing: border-box; }

body {
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  font-family: var(--font-inter);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  overflow: hidden auto;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
  padding: 0;
  color: inherit;
}

input, select, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: 1px solid var(--color-stroke-divider);
  outline: none;
}

input:focus, select:focus, textarea:focus {
  border-color: var(--color-stroke-primary);
}

table {
  border-collapse: collapse;
  width: 100%;
}

img, svg {
  display: block;
  max-width: 100%;
}
